@charset "utf-8";


body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
body{font-size:12px; font-family:"微软雅黑";}

/***********indent-main*********/

.zhezhao{
	width: 100%;
	height:1400px;
	background: #000;
	opacity: 0.3;
	z-index: 1200;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
#indent-main{
	min-height: 400px;
	height: auto!important;
	height: 400px;	
	width: 1000px;
	margin:0 auto;
}
#indent-main:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}



.indentHd{
	color:#868686;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	background: #eee;
	margin: 0;
	overflow: hidden;
	padding:  0 0 0 15px;
	border:1px solid #ddd;
}
#userAddId{
	border:3px solid rgb(108, 156, 10);
	width: 1000px;
	margin: 0 auto;
	display: none;
	position: fixed;
	left: 170px;
	top: 174px;
	z-index: 9999;
	background: #fff;
}
.indentTitle{
	padding: 8px 0 8px 10px;
	font-size: 16px;
}
.indentAll{
	padding: 10px 0 0 20px;
	height: 230px;
}
.indentAll li{
	padding:10px 0;
}
.label{
	float: left;
	margin:0 5px;
	line-height: 25px;
}
.label b{
	color:rgb(255, 72, 0);
}
.indentUser input{
	height: 20px;
}
.indentUser .iuErr{
	color:rgb(251, 142, 25);
	margin-left: 5px;
	display: none;
}
.fullAddress{
	float: left;
	width: 1000px;
}
.FA-field{
	float: left;
}
.faErr,.ipErr{
	color:rgb(251, 142, 25);
	margin-left: 5px;
	display: none;
}
.indent-phone{
	float: left;
}
#IU-phone{
	float: left;
}
#save{
	width: 120px;
	height: 30px;
	background:rgb(110, 155, 12); 
	margin-left: 15px;
	margin-bottom: 20px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}
.indentContent{
	border:1px solid #999;
	position: relative;
	float: left;
}
.indentContent li{
	padding: 20px 0 20px 25px;
	border-bottom:1px solid #ddd;
	float: left;
	width: 955px;
}
.userInfo,.userPrice{
	font-size: 16px;
	padding-bottom: 10px;
}
.amend{
	font-size:12px;
	color:#6e9b0c;
}
.userAddress span{
	padding: 0 8px;
}
.f-name{
	margin-left: 10px;
}
.pay{
	padding: 5px 0 10px 20px;
	border-bottom: 1px dashed #ddd;
}
.UP-indent{
	padding: 5px 0 10px 20px;
	border-bottom: 1px dashed #ddd;
}
.UP-indent>p{
	color:#6e9b0c;
}
.UP-indent .shunfeng{
	color: #000;
	padding: 5px 0 5px 20px;
}
.UP-indent .shunfeng>div{
	padding-bottom: 5px;
}
.UP-indent .shunfeng span{
	font-weight: bolder;
}
.bill{
	padding: 5px 0 0 20px;
}

.goto-cart{
	color:#6e9b0c;
	float: right;
}
#cart-info{
	padding: 5px 0 0 20px;
}
.ci-title{
	background: #eee;
	height: 40px;
}
.ci-title div{
	float: left;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.ci-title .ci-name{
	width: 300px;
}
.cart_body{
	float: left;
}
.cart_body div{
	float: left;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.cart_body .id{
	width: 300px;
}

.last-li{

}
.account{
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-left: 630px;
	margin-right: 20px;
}
.account span{
	color:#f00;
	font-size: 20px;
}
#sumbit{
	width: 150px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #6e9b0c;
	float: left;
	line-height: 40px;
	text-align: center;
}
.quit{
	color: #f00;
	display: none;
}