@charset "utf-8";


body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
body{font-size:12px; font-family:"微软雅黑";}

/******header******/
html{
	background: #f5f5f5;
}
.header{
	width: 1000px;
	margin: 0 auto;
	height: 95px;
}
.header a{
	color:#515151;
}
.header img{
	margin: 10px 0;
	float: left;
}
.header span{
	line-height: 70px;
	font-size: 24px;
	padding-left: 3px;
	margin: 10px 0;
	float: left;
}
.tabBox{
	width: 666px;
	margin: 0 auto;
	padding-left: 333px;
	height: 37px;
}
.login{
	width: 130px;
	float: right;
	padding-top: 14px;
	font-style: 12px;
	color:#565656;
}
.login a{
	color:#6e9b0c;
}
.reg-table{
	border-top: 1px solid #d6d5d5;
	padding: 45px 0 0 40px;
	width: 960px;
	height: auto !important;
	min-height: 400px;
	background: #fff;
	margin: 0 auto;
}
.reg-UserBg{
	background: url(../img/pic2.jpg) no-repeat right 78px;
	position: relative;
	left: 0;
	top: 0;
	height: 403px;
}

.reg-UserBg{

}
.reg-UserBg li{
	height: 38px;
}
.reg-one{
	margin-bottom:30px;
}
.reg-UserBg li label{
	width: 118px;
	font-size: 14px;
	color: #515151;
	height: 38px;
	line-height: 38px;
	text-align: right;
	display: block;
	float: left;
}
.reg-UserBg li label font{
	color:#ff4800;
}
.reg-UserBg li .reg-all input{
	width: 268px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.reg-thr{
	padding-left: 191px;
	margin-top:5px;
}
.reg-thr font{
	display: block;
	float: left;
}
.reg-thr em.default{
	background: #c4c4c4;
	text-align: center;
	width: 34px;
	margin-right: 2px;
	color: #fff;
	display: block;
	float: left;
	font-style: normal;
	font-size: 12px;
}
.curr{
	background: #f00 !important;
}
#auth_code{
	width: 70px;
	float: left;
}
.rf-span {
	height: 32px;
	line-height: 32px;
	display: block;
	float: left;
}
.rf-span a{
	color:#6e9b0c;
}
.reg-four input{
	width: 70px;
	height: 30px;
}
.reg-four #code_img1{
	width: 106px;
	height: 36px;
	float: left;
	margin: 0 5px;
	border:1px solid #ccc;
	line-height: 36px;
	text-align: center;
	font-size: 20px;
}
.reg-UserBg .reg-five input{
	width: 12px;
	height: 12px;
	margin-left: 120px;
	margin-top: 30px;
}
.reg-five a font{
	color:#6e9b0c;
}
#reg{
	border:0;
	background: #6e9b0c;
	margin: 40px 0 0 120px;
	border-radius: 3px;
	font-size: 16px;
	color:#fff;
	width: 300px;
	height: 30px;
}
/*验证成功后*/
.reg-all .regOK1,.regOK2,.regOK3,.regOK{
	width: 25px;
	height: 25px;
	display:block;
	float: left;
	margin: 7px 0 0 15px;
	background: url(../img/icon4.jpg) no-repeat 0 0;
	display: none;
}
.reg-all{
	height: 35px;
	width: 320px;
	float: left;
	/*border:1px solid #969696;*/
}
.reg-tip{
	padding: 15px 10px 10px 45px;
	border-top:1px dotted #dcdcdc;
	position: relative;
	left: -30px;
	width: 930px;
	background: url(../img/reg_tip.png) no-repeat 25px 16px;
}
.reg-tip a{
	color: #669900
}
.regPoint1,.regPoint2,.regPoint3{
	width: 200px;
	height: 35px;
	display: block;
	float: left;
	text-indent: 10px;
	display: none;
}
.reg_exist{
	width: 200px;
	height: 35px;
	display: block;
	float: left;
	text-indent: 10px;
	display: none;
	color:#f00;
}
.reg_exist a{
	color:#6e9b0c;
}
.regPoint-err1,.regPoint-err2,.regPoint-err3{
	width: 200px;
	height: 35px;
	display: block;
	float: left;
	text-indent: 10px;
	display: none;
	color:#f00;
}
.regPoint{
	display: none;
}




.foot{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}
.foot span{
	display: block;
	color: #176246;
	line-height: 26px;
	margin: 0 auto;
	text-align: center;
}
.foot span a{
	color:#666;
}
.foot p{
	line-height: 26px;
	text-align: center;
}

.zhezhao{
	width: 100%;
	height: 750px;
	background: #000;
	position: absolute;
	opacity:0.3;
	z-index:999;
	left: 0;
	top: 0;
	display: none;
}
.zhezhao2{
	width:300px;
	height:150px;
	background:#666;
	position:absolute;
	left:550px;top:280px;
	z-index:999;
	border-radius:5px;
	display: none;
}
.register-success{
	width: 360px;
	height: 200px;
	border:5px solid #ccc;
	position: fixed;
	left: 450px;
	top: 200px;
	background: #fff;
	z-index: 999999;
	display: none;
}
.register-success input{
	position: absolute;
	right: 50px;
	bottom: 20px;
	border-radius: 5px;
	height: 30px;
}
.remind{
	height: 40px;
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	line-height: 40px;
	text-indent: 10px;
}
.register-success p{
	height: 85px;
	line-height: 85px;
	text-align: center;
	width: 300px;
	margin:0 auto;
	border-bottom: 1px solid #ddd;
	background: url(../img/car_bg.jpg) no-repeat 20px 25px;
}