<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coolbhu.sfexpress.dao.ProinfoMapper">
  <resultMap id="BaseResultMap" type="cn.coolbhu.sfexpress.model.Proinfo">
    <id column="ProInfoId" jdbcType="CHAR" property="proinfoid" />
    <result column="OrderId" jdbcType="CHAR" property="orderid" />
    <result column="ProId" jdbcType="CHAR" property="proid" />
    <result column="ProInfoCreateTime" jdbcType="TIMESTAMP" property="proinfocreatetime" />
    <result column="ProInfoMark" jdbcType="INTEGER" property="proinfomark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from proinfo
    where ProInfoId = #{proinfoid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.coolbhu.sfexpress.model.Proinfo">
    insert into proinfo (ProInfoId, OrderId, ProId, 
      ProInfoCreateTime, ProInfoMark)
    values (#{proinfoid,jdbcType=CHAR}, #{orderid,jdbcType=CHAR}, #{proid,jdbcType=CHAR}, 
      #{proinfocreatetime,jdbcType=TIMESTAMP}, #{proinfomark,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.coolbhu.sfexpress.model.Proinfo">
    update proinfo
    set OrderId = #{orderid,jdbcType=CHAR},
      ProId = #{proid,jdbcType=CHAR},
      ProInfoCreateTime = #{proinfocreatetime,jdbcType=TIMESTAMP},
      ProInfoMark = #{proinfomark,jdbcType=INTEGER}
    where ProInfoId = #{proinfoid,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ProInfoId, OrderId, ProId, ProInfoCreateTime, ProInfoMark
    from proinfo
    where ProInfoId = #{proinfoid,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ProInfoId, OrderId, ProId, ProInfoCreateTime, ProInfoMark
    from proinfo
  </select>

  <select id="selectByOrderId" resultType="String">
    select p.Img
    from proinfo pf left  JOIN  prodution p on pf.proid=p.proid
    WHERE OrderId=#{orderid}
  </select>
</mapper>